<template>
<div >
  <div class="row justify-content-md-center">
  <div class="col-md-auto">
     <SkeletonScaffold primary="#242424" borderRadius="10px" animDisable style="height: 15%;width: 100%">
    <div style="color: white; height: 1.5em">
     <p> Number of Active Events </p>
      </div> 
    <br />
    <div style="color:white"><p> Total Events </p></div>
    <br />
    <div borderRadius="10px" v-mButton style="color:white">Check Out</div>
    </SkeletonScaffold>
  </div>


  <div class="col-md-auto">
     <SkeletonScaffold primary="#242424" borderRadius="10px" animDisable style="height: 15%;width: 100%">
    <div style="color: white; height: 1.5em">
     <p> Number of Active Events </p>
      </div> 
    <br />
    <div style="color:white"><p> Total Events </p></div>
    <br />
    <div borderRadius="10px" v-mButton style="color:white">Check Out</div>
    </SkeletonScaffold>
  </div>


  <div class="col-md-auto">
     <SkeletonScaffold primary="#242424" borderRadius="10px" animDisable style="height: 15%;width: 100%">
    <div style="color: white; height: 1.5em">
     <p> Number of Active Events </p>
      </div> 
    <br />
    <div style="color:white"><p> Total Events </p></div>
    <br />
    <div borderRadius="10px" v-mButton style="color:white">Check Out</div>
    </SkeletonScaffold>
  </div>


  
  </div>
</div>
</template>

<script>
export default {
  name: "Admin",
  components: {
    
  }
 
 
};
</script>
