<template>
  <div class="admin">
       <div class="page-wrapper default-theme sidebar-bg  toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <!-- TKM  -->
                <div class="sidebar-item sidebar-brand">
                    <h1><a href="#">TKM</a></h1>
                </div>
                <div>
                    <br/>
                </div>
                <!-- all my menu here  -->
                <div class=" sidebar-item sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li>
                            <router-link to="/">                          
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">Dashboard</span>   
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/ManageEvent">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="menu-text">Manage Events</span>   
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/ManageBooking">
                                <i class="far fa-gem"></i>
                                <span class="menu-text">Manage Booking</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/ManageUser">
                                <i class="fa fa-chart-line"></i>
                                <span class="menu-text">Manage Users</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/ManageVendor">
                                <i class="fa fa-globe"></i>
                                <span class="menu-text">Manage Vendors</span>
                            </router-link>                        
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <router-link to="/PendingRequest">
                                <i class="fa fa-book"></i>
                                <span class="menu-text">Pending Requests</span>     
                            </router-link>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span class="menu-text">Calendar</span>
                            </a>
                        </li>
                    </ul>
                </div>
               
            </div>
        </nav>
        <main class="page-content">
            <router-view/>
        </main>
    </div>
  </div>
</template>

<script>

export default {
  name: "Admin",
  components: {
    
  }
 
 
};
</script>

<style>


</style>