@import '~bootstrap/scss/bootstrap';

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  70% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  70% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

@keyframes sonar {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

body {
  font-size: .9rem; }

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
  overflow-y:hidden;
}
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .sidebar-wrapper a {
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease; }
  .sidebar-wrapper .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    position: relative; }
    .sidebar-wrapper .sidebar-content.desktop {
      overflow-y: hidden; }
  .sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sidebar-wrapper .sidebar-brand > a {
      text-transform: uppercase;
      font-weight: bold;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .sidebar-wrapper .sidebar-brand #close-sidebar {
      cursor: pointer;
      font-size: 20px;
      -webkit-transition: color .3s ease;
      transition: color .3s ease; }
  .sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden; }
  .sidebar-wrapper .sidebar-search > div {
    padding: 10px 20px; }
  .sidebar-wrapper .sidebar-search .input-group-append .input-group-text {
    border-left: 0; }
  .sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px; }
    .sidebar-wrapper .sidebar-menu .header-menu span {
      font-weight: bold;
      font-size: 14px;
      padding: 15px 20px 5px 20px;
      display: inline-block; }
    .sidebar-wrapper .sidebar-menu ul li a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      position: relative;
      padding: 8px 30px 8px 20px; }
      .sidebar-wrapper .sidebar-menu ul li a i {
        margin-right: 10px;
        font-size: 12px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px; }
      .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
        display: inline-block;
        -webkit-animation: swing ease-in-out .5s 1 alternate;
        animation: swing ease-in-out .5s 1 alternate; }
      .sidebar-wrapper .sidebar-menu ul li a span.label,
      .sidebar-wrapper .sidebar-menu ul li a span.badge {
        float: right;
        margin-top: 8px;
        margin-left: 5px; }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      background: 0 0;
      position: absolute;
      right: 15px;
      top: 14px;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease; }
    

.sidebar-bg .sidebar-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .sidebar-bg .sidebar-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 100vh; }

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
  background-size: cover; }

.page-wrapper .theme.selected {
  border: 2px solid #00c7ff; }

.page-wrapper .theme.default-theme {
  background: #1d1d1d; }

.page-wrapper .theme.chiller-theme {
  background: #374140; }

.page-wrapper .theme.legacy-theme {
  background: #2e333c; }

.page-wrapper .theme.ice-theme {
  background: #3a4d56; }

.page-wrapper .theme.cool-theme {
  background: #46454c; }

.page-wrapper .theme.light-theme {
  background: #ececec; }

/*----------------  toggeled sidebar  ----------------*/
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px; }

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px; } }

/*-----------------  page-content  ------------------*/
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
  -webkit-transition: padding-left .3s ease;
  transition: padding-left .3s ease; }

.page-wrapper .page-content > div {
  padding: 20px 40px; }

.page-wrapper .page-content {
  overflow-x: hidden; }



/*----------sidebar background images --------------*/


.default-theme .sidebar-wrapper {
  background-color: #1d1d1d; }
  .default-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #2b2b2b; }
    .default-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item),
  .default-theme .sidebar-wrapper .sidebar-header,
  .default-theme .sidebar-wrapper .sidebar-search input,
  .default-theme .sidebar-wrapper .sidebar-search i {
    color: #adadad; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .default-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #d8d8d8; }
  .default-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .default-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2b2b2b;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .default-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .default-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .default-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #22ff16;
    text-shadow: 0px 0px 10px rgba(34, 255, 22, 0.5); }
  .default-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #868686; }
  .default-theme .sidebar-wrapper .sidebar-footer {
    background-color: #2b2b2b;
    -webkit-box-shadow: 0px -1px 5px #1d1d1d;
    box-shadow: 0px -1px 5px #1d1d1d;
    border-top: 1px solid #2b2b2b; }
  .default-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .default-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.default-theme.toggled #close-sidebar {
  color: #adadad; }

.default-theme.toggled #close-sidebar:hover {
  color: #d8d8d8; }

.default-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0; }

.default-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.default-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(42, 42, 42, 0.9); }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #c7c7c7; }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #f2f2f2; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #454545; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(56, 56, 56, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
  border-top: 1px solid #383838; }

.chiller-theme .sidebar-wrapper {
  background-color: #2A2C2B; }
  .chiller-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #374140; }
    .chiller-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .chiller-theme .sidebar-wrapper a:not(.dropdown-item),
  .chiller-theme .sidebar-wrapper .sidebar-header,
  .chiller-theme .sidebar-wrapper .sidebar-search input,
  .chiller-theme .sidebar-wrapper .sidebar-search i {
    color: #D9CB9E; }
  .chiller-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .chiller-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #ffe79a; }
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #374140;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .chiller-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .chiller-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .chiller-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #ffbe00;
    text-shadow: 0px 0px 10px rgba(255, 190, 0, 0.5); }
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #374140; }
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #374140; }
  .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #a29464; }
  .chiller-theme .sidebar-wrapper .sidebar-footer {
    background-color: #374140;
    -webkit-box-shadow: 0px -1px 5px #2A2C2B;
    box-shadow: 0px -1px 5px #2A2C2B;
    border-top: 1px solid #374140; }
  .chiller-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .chiller-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.chiller-theme.toggled #close-sidebar {
  color: #D9CB9E; }

.chiller-theme.toggled #close-sidebar:hover {
  color: #ffe79a; }

.chiller-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.chiller-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0; }

.chiller-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.chiller-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(54, 57, 56, 0.9); }

.chiller-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #e7dfc3; }

.chiller-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #fff3cd; }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #4e5d5b; }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(90, 106, 105, 0.5); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(90, 106, 105, 0.5); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(90, 106, 105, 0.5); }

.chiller-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(67, 79, 78, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(42, 44, 43, 0.8);
  box-shadow: 0px -1px 5px rgba(42, 44, 43, 0.8);
  border-top: 1px solid #434f4e; }

.legacy-theme .sidebar-wrapper {
  background-color: #1e2229; }
  .legacy-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #2e333c; }
    .legacy-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .legacy-theme .sidebar-wrapper a:not(.dropdown-item),
  .legacy-theme .sidebar-wrapper .sidebar-header,
  .legacy-theme .sidebar-wrapper .sidebar-search input,
  .legacy-theme .sidebar-wrapper .sidebar-search i {
    color: #818896; }
  .legacy-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .legacy-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #b8bfce; }
  .legacy-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .legacy-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2e333c;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .legacy-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .legacy-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .legacy-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #16c7ff;
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5); }
  .legacy-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #2e333c; }
  .legacy-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #2e333c; }
  .legacy-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #646e80; }
  .legacy-theme .sidebar-wrapper .sidebar-footer {
    background-color: #22262d;
    -webkit-box-shadow: 0px -1px 5px #16191f;
    box-shadow: 0px -1px 5px #16191f;
    border-top: 1px solid #2e333c; }
  .legacy-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .legacy-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.legacy-theme.toggled #close-sidebar {
  color: #818896; }

.legacy-theme.toggled #close-sidebar:hover {
  color: #b8bfce; }

.legacy-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.legacy-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.legacy-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #525965;
  border-radius: 0; }

.legacy-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.legacy-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(41, 46, 56, 0.9); }

.legacy-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #9da2ad; }

.legacy-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #d6dae3; }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #444c59; }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(79, 88, 103, 0.5); }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(79, 88, 103, 0.5); }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(79, 88, 103, 0.5); }

.legacy-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(45, 50, 60, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(22, 25, 31, 0.8);
  box-shadow: 0px -1px 5px rgba(22, 25, 31, 0.8);
  border-top: 1px solid #393f4a; }

.cool-theme .sidebar-wrapper {
  background-color: #38373D; }
  .cool-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #46454c; }
    .cool-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .cool-theme .sidebar-wrapper a:not(.dropdown-item),
  .cool-theme .sidebar-wrapper .sidebar-header,
  .cool-theme .sidebar-wrapper .sidebar-search input,
  .cool-theme .sidebar-wrapper .sidebar-search i {
    color: #918F9E; }
  .cool-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .cool-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #b3b8c1; }
  .cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #46454c;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .cool-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .cool-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .cool-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #fe6fff;
    text-shadow: 0px 0px 10px rgba(254, 111, 255, 0.5); }
  .cool-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #46454c; }
  .cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #46454c; }
  .cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #747479; }
  .cool-theme .sidebar-wrapper .sidebar-footer {
    background-color: #414046;
    -webkit-box-shadow: 0px -1px 5px #2a292d;
    box-shadow: 0px -1px 5px #2a292d;
    border-top: 1px solid #46454c; }
  .cool-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .cool-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.cool-theme.toggled #close-sidebar {
  color: #918F9E; }

.cool-theme.toggled #close-sidebar:hover {
  color: #b3b8c1; }

.cool-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.cool-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #918F9E;
  border-radius: 0; }

.cool-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.cool-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(68, 67, 74, 0.9); }

.cool-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #acaab6; }

.cool-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #cfd2d8; }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #5f5d67; }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(107, 105, 116, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(107, 105, 116, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(107, 105, 116, 0.5); }

.cool-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
  background-color: rgba(77, 76, 83, 0.5);
  -webkit-box-shadow: 0px -1px 5px rgba(42, 41, 45, 0.8);
  box-shadow: 0px -1px 5px rgba(42, 41, 45, 0.8);
  border-top: 1px solid #525159; }

.ice-theme .sidebar-wrapper {
  background-color: #2B3A42; }
  .ice-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #3a4d56; }
    .ice-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
 
  .ice-theme .sidebar-wrapper .sidebar-header,
  
  .ice-theme .sidebar-wrapper .sidebar-search i {
    color: #9eb7c3; }
  .ice-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .ice-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #EFEFEF; }

  .ice-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .ice-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .ice-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #38fbc7;
    text-shadow: 0px 0px 10px rgba(56, 251, 199, 0.5); }
  .ice-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #3a4d56; }
  .ice-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }


.ice-theme.toggled #close-sidebar {
  color: #9eb7c3; }

.ice-theme.toggled #close-sidebar:hover {
  color: #EFEFEF; }



.ice-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(53, 72, 81, 0.9); }


.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-header,

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #beced6; }


.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: white; }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #4f6874; }


.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(89, 118, 132, 0.5); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(89, 118, 132, 0.5); }

.ice-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(89, 118, 132, 0.5); }



.light-theme .sidebar-wrapper {
  background-color: #ececec; }
  .light-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #f9f9f9; }
    .light-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .light-theme .sidebar-wrapper a:not(.dropdown-item),
  .light-theme .sidebar-wrapper .sidebar-header,
  .light-theme .sidebar-wrapper .sidebar-search input,
  .light-theme .sidebar-wrapper .sidebar-search i {
    color: #74726E; }
  .light-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .light-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #424242; }
  .light-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .light-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #f9f9f9;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px; }
  .light-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .light-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .light-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #00a9fd;
    text-shadow: 0px 0px 10px rgba(0, 169, 253, 0.5); }
  .light-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88; }
  .light-theme .sidebar-wrapper .sidebar-footer {
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px -1px 5px #ececec;
    box-shadow: 0px -1px 5px #ececec;
    border-top: 1px solid #f9f9f9; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:first-child {
    border-left: none; }
  .light-theme .sidebar-wrapper .sidebar-footer > div:last-child {
    border-right: none; }

.light-theme.toggled #close-sidebar {
  color: #74726E; }

.light-theme.toggled #close-sidebar:hover {
  color: #424242; }

.light-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.light-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #A4A29E;
  border-radius: 0; }

.light-theme .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.light-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(249, 249, 249, 0.9); }

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #8e8c87; }

.light-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #5c5c5c; }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: white; }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.light-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(255, 255, 255, 0.5); }

.light-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(255, 255, 255, 0.5); }

